<div class="container col-md-12">
    <div class="row tileRow">
        <div class="col-sm-offset-2 col-sm-4">
            <div class="tile">
              {{#link-to "defineCurrency" class="button" tagName="div" }}Define Currencies{{/link-to}}
            </div>
        </div>
        <div class="col-sm-offset-1 col-sm-4">
            <div class="tile">
              {{#link-to "labs" class="button" tagName="div" }}Labs{{/link-to}}
            </div>
        </div>
    </div>
    <div class="row tileRow">
        <div class="col-sm-offset-2 col-sm-4">
            <div class="tile">
              {{#link-to "definePriceType" class="button" tagName="div" }}Define Price Types{{/link-to}}
            </div>
        </div>
        <div class="col-sm-offset-1 col-sm-4">
            <div class="tile">
                {{#link-to "assignPrice" class="button" tagName="div" }}Assign Price Types{{/link-to}}
            </div>
        </div>
    </div>
</div>