<div class="col-xs-12 well well-lg">
<div class="row">
  {{#bs-dropdown }}
    {{#bs-dropdown-button}}SELECT A LAB TO EDIT ACCEPTED CURRENCIES<span class="caret"></span>{{/bs-dropdown-button}}
    {{#bs-dropdown-menu}}
      {{#each model as |user|}}
          <li>
            {{#link-to "labs.lab" user.id}}
              {{user.companyName}}
            {{/link-to}}
          </li>
      {{/each}}
    {{/bs-dropdown-menu}}
  {{/bs-dropdown}}
</div>


{{outlet}}

</div>
